<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Managements</title>
</head>
<body>
<h1>Hello For All Students in the world</h1>
<h2>Welcome to the Student Management System</h2>
<h3>Your Name {{fname | default:'ALMNSOR'}}</h3>
<h3>Your Name {{fname | upper}}</h3>
<h3>Your Name {{fname | lower}}</h3>
<h3>Your Name {{fname | capfirst}}</h3>
<h3>Your Name {{fname | length}}</h3>
<h3>Your Name {{fname | slice:2}}</h3>
<h3>Your Name {{fname | add:' ALMNSOR'}}</h3>
</body>
</html>